<?xml version="1.0" encoding="UTF-8"?>
<web-app  
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
    
    <servlet>
        <servlet-name>sr_puesto</servlet-name>
        <servlet-class>controlador.sr_puesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_empleado</servlet-name>
        <servlet-class>controlador.sr_empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_cliente1</servlet-name>
        <servlet-class>controlador.sr_cliente1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_proveedores1</servlet-name>
        <servlet-class>controlador.sr_proveedores1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_productos</servlet-name>
        <servlet-class>controlador.sr_productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_marca</servlet-name>
        <servlet-class>controlador.sr_marca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sr_puesto</servlet-name>
        <url-pattern>/sr_puesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_empleado</servlet-name>
        <url-pattern>/sr_empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_cliente1</servlet-name>
        <url-pattern>/sr_cliente1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_proveedores1</servlet-name>
        <url-pattern>/sr_proveedores1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_productos</servlet-name>
        <url-pattern>/sr_productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_marca</servlet-name>
        <url-pattern>/sr_marca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
